:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primery-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

.button {
  padding: 16px 32px;

  color: var(--color-primery-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.nav-link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* -----------HERO------------------------------ */

.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand-light);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* -------------------Advantages------------------------------- */

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-list {
  color: var(--color-primery-light);

  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs-section */

.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;

  font-size: 40px;
  font-weight: 600;
}

/* Formats-section */

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
/* --------------Contacts-------------------- */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */

.addres-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.addres-link:hover {
  color: var(--color-brand-light);
}

.addres-copyright {
  font-size: 14px;
  color: #a18268;
}
